.sidebar .scroll {
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar .scroll::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
.sidebar .scroll::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.range-slider {
  height: 3px;
}

.range-slider .range-slider__thumb {
  width: 14px;
  height: 14px;
}

.range-slider .range-slider__thumb,
.range-slider .range-slider__range {
  background-color: #ff5252;
}
